# MTpy Example 02

## Plots

Now that we have an `MTCollection` stored in an `MTH5` we can now plot interesting things.  All the plotting functions can be called directly from the `MTCollection` object.

In [2]:
from pathlib import Path
from mtpy import MTCollection
%matplotlib widget

### Open MTCollection

In the previous example we created a MTH5 file from existing Yellowstone data.  Let's open that file here for plotting.

In [5]:
mc = MTCollection()
mc.open_collection(Path().cwd().parent.parent.joinpath("data", "transfer_functions", "yellowstone_mt_collection.h5"))

Make sure that everything is there as expected

In [6]:
mc.dataframe

,station,survey,latitude,longitude,elevation,tf_id,units,has_impedance,has_tipper,has_covariance,period_min,period_max,hdf5_reference,station_hdf5_reference
0,IDD11,Transportable_Array,47.043986,-116.345982,850.750,IDD11,none,True,True,True,7.31429,18724.57,<HDF5 object reference>,<HDF5 object reference>
1,IDD12,Transportable_Array,47.047800,-115.348000,1137.862,IDD12,none,True,True,True,7.31429,18724.57,<HDF5 object reference>,<HDF5 object reference>
2,IDE11,Transportable_Array,46.353000,-116.212965,882.625,IDE11,none,True,True,True,7.31429,18724.57,<HDF5 object reference>,<HDF5 object reference>
3,IDE12,Transportable_Array,46.387100,-115.582000,1633.900,IDE12,none,True,True,True,7.31429,18724.57,<HDF5 object reference>,<HDF5 object reference>
4,IDF11,Transportable_Array,45.889496,-116.157113,1175.550,IDF11,none,True,True,True,7.31429,18724.57,<HDF5 object reference>,<HDF5 object reference>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,SR930,Yellowstone-Snake_River_Plain,43.188800,-113.042300,1568.050,SR930,none,True,True,True,7.31429,18724.57,<HDF5 object reference>,<HDF5 object reference>
217,SR954,Yellowstone-Snake_River_Plain,43.689700,-112.375700,1536.925,SR954,none,True,True,True,7.31429,18724.57,<HDF5 object reference>,<HDF5 object reference>
218,SR966,Yellowstone-Snake_River_Plain,43.948300,-112.039000,1486.875,SR966,none,True,True,True,7.31429,18724.57,<HDF5 object reference>,<HDF5 object reference>
219,SR980,Yellowstone-Snake_River_Plain,44.258100,-111.553000,2075.900,SR980,none,True,True,True,7.31429,18724.57,<HDF5 object reference>,<HDF5 object reference>
220,SR990,Yellowstone-Snake_River_Plain,44.463100,-111.228700,1979.200,SR990,none,True,True,True,7.31429,18724.57,<HDF5 object reference>,<HDF5 object reference>

### MTCollection Working Data Frame

The MTH5 includes a summary of all the transfer functions in the file, this is a property, so when it is called it is providing you with current information.  `MTCollection` utilizes the `tf_summary` of MTH5 and calles it `MTCollection.master_dataframe`.  If you have a file with a bunch of transfer functions that cover a wide area, maybe you don't always want to use all the stations for plotting.  In this case you can set the `MTCollection.working_dataframe` as a subset of the `master_dataframe`.  To make it simpler, or more complicated `MTCollection` has a property simply called `dataframe` which will return the `working_dataframe` if one has been set, if not the `master_dataframe` will be returned.  We will see examples of this later.

  

### Plot Stations

First lets plot the station coverage on a map.  MTpy uses `contextily` if installed to get a USGS Topo map to plot the stations on to.  If you want a different map, maybe imagery, just change the `cx_source` to what you would like.  See [Contextily Documentation](https://contextily.readthedocs.io/en/latest/intro_guide.html) for more details.